# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo

# ----------------------
# Virtual Environment
# ----------------------
.venv/

# ----------------------
# Environment / Secrets
# ----------------------
.env

# ----------------------
# Project Data (DO NOT TRACK)
# ----------------------
data/
data_processed/
storage/

# ----------------------
# OS files
# ----------------------
.DS_Store

# ----------------------
# IDE / Editor
# ----------------------
.vscode/